.root {

}

.tableDesktop {
    display: none;
}

.tableDesktop tr > th:last-child {
    text-align: right;
}

.tableMobile > div {
    display: grid;
}

@media (min-width: 1024px) {
    .tableMobile {
        display: none;
    }

    .tableDesktop {
        display: table;
        width: 100%;
        font-size: 1.4rem;
        border-collapse: collapse;
    }
    
    .tableDesktop td, .tableDesktop th {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #c6c6c6;
    }
}

/* For printing */
@media print {
    .tableMobile {
        display: none;
    }

    .tableDesktop {
        display: table;
        width: 100%;
        font-size: 1.4rem;
        border-collapse: collapse;
    }
    
    .tableDesktop td, .tableDesktop th {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #c6c6c6;
    }
}