.passwordButton {
    composes: root from '~@magento/venia-ui/lib/components/Button/button.module.css';
    composes: bg-transparent from global;
    composes: border-none from global;
    composes: border-0 from global;
    composes: min-w-0 from global;
    composes: p-0 from global;
    composes: rounded-none from global;

    composes: focus_shadow-none from global;
}

.root_normalPriority {
    padding: 0;
    border: none;
    color: black;
    pointer-events: auto;
    position: absolute;
}

.root_normalPriority:hover {
   background: none;
}

.root_normalPriority:focus {
    background: none;
}
