.dropinContainer {
    margin: 1.25rem 0;
}

.loader {
    composes: root from '~@magento/venia-ui/lib/components/LoadingIndicator/indicator.module.css';
    padding-bottom: 3rem;
    margin-bottom: 0;
}

/* .dropinContainer li[class^='adyen-checkout__payment-method'] {
    border-radius: 0;
    border: 0;
    background: transparent;
}

.dropinContainer span[class^='adyen-checkout__label__text'] {
    font-weight: var(--venia-global-fontWeight-light);
    color: rgb(var(--color-mumz-200));
    font-size: var(--venia-global-fontSize-90);
    margin-bottom: 4px;
}

.dropinContainer span[class^='adyen-checkout__input'] {
    border-radius: var(--venia-global-border-radius);
    border-color: rgb(var(--color-Gray-L5));
} */

.errorMessage {
    background-color: rgb(var(--venia-global-color-red-700));
    color: #fff;
    padding: 1rem;
    margin: 1rem;
}

.paymentNote {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
}

.paymentNoteImage {
    color: rgb(var(--color-mumz-200));
    width: 24px;
}

.paymentNoteText {
    padding-inline-start: 0.625rem;
    font-size: var(--venia-global-fontSize-90);
    font-weight: var(--venia-global-fontWeight-light);
    color: rgb(var(--venia-global-color-gray-1000));
    line-height: 21px;
    width: calc(100% - 24px);
}

@media (max-width: theme('screens.md')) {
    .paymentNote {
        padding: 0.75rem;
        background: rgb(var(--color-Gray-L2));
        border-radius: var(--venia-global-border-radius);
        margin-top: 0.25rem;
    }

    .paymentNoteText {
        font-size: var(--venia-global-fontSize-75);
        line-height: 15px;
    }
}
