.date-selection {
    font-family: adobe-clean-ux,adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
    color-scheme: dark;
    display: flex;
    gap: 15px;
    position: fixed;
    bottom: auto;
    left: 234px;
    top: 50px;
    z-index: 99999999;
    background: #1d1d1d;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #dedede;
    overflow: hidden;
    color: #fff;
}

.date-selection input {
    color-scheme: dark;
}