.root {
  background: none;
  margin: 0;
  padding: 0;
  color: #99969c;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #99969c;
  height: 4rem;
  width: 6.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.root:focus {
  background: none;
  color: #7b7b80;
}

.root_selected:focus {
  background: none;
  color: #7b7b80;
}


.root:hover {
  background: none;
  color: #7b7b80;
}

.root_selected:hover {
  background: none;
  color: #7b7b80;
}

.root_selected_focused {
  background: none;
  margin: 0;
  padding: 0;
  color: #99969c;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #99969c;
  height: 4rem;
  width: 6.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.root_selected {
  background: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid black;
  height: 4rem;
  width: 6.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
}

.root_outOfStock {
  background: none !important;
  margin: 0;
  padding: 0;
  color: #99969c;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #99969c;
  height: 4rem;
  width: 6.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  position: relative;
}

.root_outOfStock::after {
  fill: #99969c;
  background: url(/icons/disabledsize.svg) no-repeat;
  position: absolute;
  content: '';
  height: 100%;
  left: 15%;
  position: absolute;
  top: 22%;
  width: 100%;
  z-index: 1;
}
