 .root {
    font-family: var(--ff-gilroy-medium);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.18;

    --steps-grid-gap: 20px;
}

/* prettier-ignore */
.checkoutContent {
    composes: grid from global;
    composes: grid-cols-1 from global;

    /*composes: lg_gap-md from global;*/
    /* TODO @TW: review (B7) */
    composes: lg_grid-cols-[2fr,1fr] from global;

    gap: var(--steps-grid-gap);
}

.placeOrderSection {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-column-gap: var(--steps-grid-gap);
}

 .placeOrderSection > span{
    color: #c41b53;
 }

.checkoutContent_hidden {
    composes: checkoutContent;

    composes: hidden from global;
}

.heading_container {
    composes: col-span-1 from global;
    composes: col-start-1 from global;
    composes: gap-y-xs from global;
    composes: grid from global;
}

.heading {
    color: #000;
    font-family: var(--ff-gilroy-regular);
    font-size: var(--heading-font-size-m);
    font-weight: 400;
    letter-spacing: .26px;
    line-height: 1.96;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: -1.4rem;
}

.cartLink {
    composes: root from '@magento/venia-ui/lib/components/LinkButton/linkButton.module.css';

    composes: text-inherit from global;
}

.paypalButtonHidden {
    display:none;
}

 .paypalButton {
     display:flex;
 }

.stepper_heading {
    composes: border-b from global;
    composes: border-solid from global;
    composes: border-subtle from global;
    composes: font-semibold from global;
    composes: pb-xs from global;
    composes: text-colorDefault from global;
    composes: uppercase from global;

    composes: lg_pb-md from global;

    margin-top: var(--steps-grid-gap);
}

.shipping_method_heading {
    composes: stepper_heading;
}

.payment_information_heading {
    composes: stepper_heading;
    composes: border-b-0 from global;

    /* On mobile, order summary has a top border, so avoid doubling up. */
    composes: lg_border-b from global;
}

.signInContainer {
    composes: border-2 from global;
    composes: border-solid from global;
    composes: border-subtle from global;
    composes: gap-xs from global;
    composes: grid from global;
    composes: grid-flow-row from global;
    composes: items-center from global;
    composes: justify-items-center from global;
    composes: mb-xs from global;
    composes: p-xs from global;
    composes: rounded-md from global;
    composes: row-start-1 from global;

    composes: lg_grid-flow-col from global;
    composes: lg_justify-items-start from global;
    composes: lg_mb-0 from global;
}

.signInLabel {
    composes: font-semibold from global;
}

.signInButton {
    composes: root_normalPriority from './button.module.css';

    composes: min-h-auto from global;
    composes: min-w-auto from global;
    composes: px-md from global;
    composes: py-1 from global;
}

.empty_cart_container {
    composes: mb-sm from global;
}

 .shipping_information_heading {
     composes: stepper_heading;
 }

.shipping_information_container {
    grid-column: 1 / span 1;
    composes: relative from global;

    margin-top: var(--steps-grid-gap);
}

.shipping_method_container {
    grid-column: 1 / span 1;
    composes: relative from global;
}

.payment_information_container {
    grid-column: 1 / span 1;
    composes: relative from global;

    margin-top: calc(-1 * var(--steps-grid-gap));
}

.items_review_container {
    grid-column: 1 / span 1;

    border: unset;
}

.price_adjustments_container{
    border: unset;
}

.summaryContainer {
    grid-column: 1 / span 1;

    composes: lg_h-minContent from global;
    /* TODO @TW: review. Magic number. Slightly bigger than sticky header. */
    composes: lg_top-[6rem] from global;

    border: 1px solid var(--highlight-background-color);
    border-radius: 8px;
}

@media (min-width: 960px) {
    .summaryContainer {
        grid-column: 2 / span 1;
        grid-row: 2 / span 3;
    }
    .reCaptchaMargin {
        margin-bottom: 5.5rem;
    }
    .signInContainerVisible {
        grid-row: 1 / span 3;
    }
}

.formErrors {
    composes: border-error from global;
    composes: border-solid from global;
    composes: border-t-0 from global;
    composes: border-r-0 from global;
    composes: border-b-0 from global;
    composes: border-l-4 from global;
    composes: grid from global;
    composes: pl-xs from global;
    composes: pr-0 from global;
    composes: py-xs from global;
    grid-column: 1 / span 1;
}

.review_order_button {
    composes: root_highPriority from './button.module.css';

    grid-column: 1 / span 1;
    composes: m-auto from global;
    font-size: 16px!important;
    padding: 10px 30px!important;
}

.place_order_button {
    composes: root_highPriority from './button.module.css';
    composes: review_order_button from global;
}


/* maidenform */

.hairlineBorder {
    border: 1px solid #c2c2c2;
}

.editWrapper {
    composes: hairlineBorder;
    border-width: 0 1px;
    padding: 20px 20px 30px;
}

.editTitle {
    background: var(--clr-dark-blue);
    color: var(--clr-white);
    font-family: var(--ff-gilroy-regular);
    font-size: var(--heading-font-size-xs);
    padding: 0.8em;
}

.editTitleDisabled {
  composes: editTitle;
  background-color: rgb(120 120 120);
}

.subtitle {
    font-size: var(--body-font-size-s);
    padding-bottom: 0.8em;
}

.field {
    color: var(--clr-dark-blue);
    margin: 0 0 20px;
    height: 60px;
    border: solid 1px var(--clr-light-gray);
}

.field span {
    height: 100%;
}

.field input {
    height: 100%;
}

.field select {
    height: 100%;
    width: 100%;
    padding-right: 10px;
    margin: 0px;
}

.field div {
    height: 100%;
}


.fieldLabel {
    display: none;
}
